@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #131313;
  --green: #588157;
  --blue: #2563eb;
  --white: #ffffff;
  --gray: #b9bac7;
}
body {
  background-color: var(--black);
  color: var(--white);
}

@layer base {
  @font-face {
    font-family: "alibaba";
    src: url(../public/font/alibaba-regular.woff2) format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "alibaba";
    src: url(../public/font/alibaba-regular.woff2) format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "kalameh";
    src: url(../public/font/KalamehWeb_Black.woff2) format("woff2");
    font-weight: 700;
  }
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}